## Deliverable 3. Create a Travel Itinerary Map.

In [23]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import gkey

# Configure gmaps
gmaps.configure(api_key=gkey)

In [24]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Freetown,SL,77.23,light rain,8.48,-13.23,The Country Lodge Hotel
1,4,Ponta Delgada,PT,72.32,few clouds,37.73,-25.67,Vila Nova Hotel
2,6,Dakar,SN,82.53,broken clouds,14.69,-17.44,Redface Studios Meublés
3,7,La Libertad,EC,73.06,broken clouds,-2.23,-80.90,Playa Canela Hotel Boutique
4,8,Kahului,US,85.96,scattered clouds,20.89,-156.47,Maui Seaside Hotel
...,...,...,...,...,...,...,...,...
291,694,Baker City,US,85.59,clear sky,44.77,-117.83,Bridge Street Inn
292,695,Aden,YE,85.55,broken clouds,12.78,45.04,Sama Emirate Hotel
293,697,Paragominas,BR,80.06,broken clouds,-2.97,-47.48,INOVA
294,699,Salinopolis,BR,79.23,moderate rain,-0.61,-47.36,Salinas Park Resort Maçarico AP101
295,702,Korla,CN,71.74,few clouds,41.76,86.15,Gulisitan Hotel

In [14]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description} and {Max Temp}</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [15]:
# 4a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# 4b. Display the figure
fig = gmaps.figure()
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [53]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df.City=="Hasaki",:]
vacation_stop1 = vacation_df.loc[vacation_df.City=="Wajima",:]
vacation_stop2 = vacation_df.loc[vacation_df.City=="Toyooka",:]
vacation_stop3 = vacation_df.loc[vacation_df.City=="Shimoda",:]
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
25,70,Hasaki,JP,75.6,overcast clouds,35.73,140.83,Hotel Sunrise Choshi

In [66]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat","Lng"]].to_numpy()
end = vacation_start[["Lat","Lng"]].to_numpy()
stop1 = vacation_stop1[["Lat","Lng"]].to_numpy()
stop2 = vacation_stop2[["Lat","Lng"]].to_numpy()
stop3 = vacation_stop3[["Lat","Lng"]].to_numpy()
stop3[0]

array([ 34.67, 138.95])

In [67]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
japan_trip = gmaps.directions_layer(start[0],end[0],waypoints=[stop1[0],stop2[0],stop3[0]],travel_mode="DRIVING")
fig.add_layer(japan_trip)
fig

Figure(layout=FigureLayout(height='420px'))

In [69]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,70,Hasaki,JP,75.60,overcast clouds,35.73,140.83,Hotel Sunrise Choshi
1,336,Wajima,JP,76.78,few clouds,37.40,136.90,Wajiima Onsen Yashio
2,282,Toyooka,JP,71.71,overcast clouds,35.53,134.83,O Hotel Toyooka
3,274,Shimoda,JP,80.01,broken clouds,34.67,138.95,Shimoda Tokyu Hotel

In [70]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description} and {Max Temp}</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [72]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# 11b. Display the figure
fig = gmaps.figure()
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))